section {
  &.article-page-header {
    margin: 3rem 0;
    padding: 0 3rem;
    font-weight: bolder;
    flex-flow: column nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 3rem;
    overflow: hidden;
    &>div {
      margin: 0 3rem;
      text-align: center;
    }
  }
  &.article-nav-container {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
  }
  &.article-page-text {
    padding: 0 2rem;
    font-size: 1rem;
    color: #CCC;
  }
}