* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  display: grid;
  grid-template-columns: auto minmax(0px, 2000px) auto;
  background-color: #222;
  div {
    grid-column: 2;
  }
}

