* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  display: grid;
  grid-template-columns: auto minmax(0px, 1600px) auto;
  background-color: #222;
  scroll-snap-type: y mandatory;
  &>div {
    grid-column: 2;
  }
}

