div.chat-button-wrapper {
  padding: 0.5vmin;
  fill: #CCC;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.5);
  &:hover {
    cursor: pointer;
    fill: white;
  }
  &:active {
    transform: translate(1px, 1px);
    fill: lightblue;
  }
}